.main-weather-widget {
  padding-top: 10px;
}

.city-select {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.numerical-weather-info {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

#TemperatureInfo {
  font-size: 3em;
  font-weight: bold;
}

.iconical-weather-info {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

.figure figcaption {
  font-size: 1.5em;
  text-align: center;
  color: black;
  font-weight: bold;
}

#SearchBarLabel {
  margin-right: 10px;
}